<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section id="inner">
        <form action="/login" method="POST">
            <div class="loginBox">
                <div class="inputBox">
                    <div class="idBox">
                        <div class="Box">
                            <!-- email -->
                            <div class="text">ID</div>
                            <input type="text" id="ID" class="ID" placeholder="ID" name="ID" value="<%= typeof ID != 'undefined' ? ID : '' %>">
                        </div>
                    </div>
                    <div class="passwordBox">
                        <div class="Box">
                            <!-- password -->
                            <div class="text">비밀번호</div>
                            <input type="text" id="PW" class="PW" placeholder="PW" name="PW" value="<%= typeof PW != 'undefined' ? PW : '' %>">
                        </div>
                    </div>
                    <div>
                        <input type="submit" class="login" value="Login"></input>
                        <div><a href="/register">Don't have an account?</a></div>
                    </div>
                </div>
            </div>
        </form>
    </section>
</body>
</html>