<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/stylesheets/mainpage.css">
</head>
<body>
    <section class="inner">
        <div class="header">
            <!-- 로고 -->
            <div class="logo">
                <h1><a href="./index.html"><img src="../public/images/logo.png"/></a></h1>
            </div>
            <!-- content -->
            <div class="mainbar">
                <div class="tag"><a href="#">프로젝트실 대여</a></div>
                <div class="tag"><a href="#">인원보고</a></div>
            </div>
            <!-- login bar-->
            <% if (islogin){ %>
                <div class="login">
                    <div class="loginText"><a href="#"></a></div>
                    <div class="loginText"><a href="#">Login</a></div>
                </div>
            <% } else { %> 
            <div class="login">
                <div class="loginText"><a href="#"><%=username%></a></div>
                <div class="loginText"><a href="#">Logout</a></div>
            </div>
            <% } %>
        </div>
        <div class="mainInner">
            <a href="#">
                <div class="box">
                    <img src="../public/images/brief.png" alt="">
                    <div class="text">실 대여</div>
                </div>
            </a>
            <div class="box-left">
                <a href="#">
                    <div class="box">
                        <img src="../public/images/close.png" alt="">
                        <div class="text2">대여 취소</div>
                    </div>
                </a>
            </div>
        </div>
    </section>
</body>
</html>